/*-- scss:defaults --*/

$body-bg: #f0f0f0;
$body-color: #000;
$link-color: #42affa;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

// Custom global margin adjustments
.reveal .slides {
  margin: 10px; // Adjust the value to your preference
}

.reveal section h2 {
  color: #490707;
}

.reveal section h1 {
  color: #833A3A;
}