.border {
  border: 1px solid #dee2e6;
}

.border-thick {
  border-width: 3px;
}

.title {
  color: black;
  font-family: 'Open Sans';
}

.supervisors, .date_field {
  font-size: 0.75em; /* Adjust the size as needed */
  font-family: 'Open Sans', ans-serif, Arial;
}

.subtitle {
  font-size: 0.75em;
  color: blue; /* You can use a hex code or RGB value for a specific shade of blue */
}

/* Custom function to make text blue and bolded*/
.blB { 
	font-weight: bold; 
	color: blue; 
}

/* Custom function to make text red and bolded*/
.blR { 
	font-weight: bold; 
	color: red; 
}

/* Custom function to make text smaller*/
.small-text {
  font-size: 0.7em; /* Adjust the size as desired */
}

/* Custom function to add a colored box environment */
.quote-box {
  padding: 20px;
  border-radius: 8px;
  margin-top: 10px; /* Large top margin */
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f8ff; /* Light blue background, change as desired */
  border-left: 5px solid #0096db; /* Dark blue border, change as desired */
  max-width: 80%;
  /*font-style: italic;*/
  /*text-align: center;*/
}

/* Add QUT logo to bottom of all slides*/
/* .reveal .slides {
  background-image: url('imgs/qutlogo.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 50px 50px; 
} */